<%- include('partials/header'); -%>

<div class="text-center">
  <h3 class="display-4 m-2 p-1 border-top border-3 border-bottom border-primary"> The Home Page </h3>
  <p class="m-5 p-4 display-6"> You have successfully logged in.</p>
</div>

<%- include('partials/footer'); -%>